div.card {
    width: 23rem;
   
}
div.card-img-top, .img-top {
    width: 100%;
    height: 280px;
    overflow: hidden;
    margin-top: 5px;
}

.card-text{
    height: 12rem;
    overflow: hidden;
}

